<!DOCTYPE html>
<html>
<head>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <title>Choco Wiki | Home</title>
</head>
<body>
    <h1><a href="./">Choco Wiki</a></h1>
    <p>Search by keyword or select a category</p>
    <form method = "GET" action = "/results">
        <input type = "text" name = "searchTerm" placeholder = "Search Term"/>
        <button type = "submit">Search</button>
    </form>

    <form method = "GET" action = "/category">
    <select name = "category">
        <option>SELECT CATEGORY</option>
        {{#allCategories}}
            <option value = "{{cat_id}}">{{name}}</option>
        {{/allCategories}}
    </select>
    <button type = "submit">Submit</button>
    </form>

    <!-- <ul>
    {{#allCategories}}
        <li><a href = "/category/{{cat_id}}">{{name}}</a></li>
    {{/allCategories}}
    </ul> -->
    <p>Or add a new article</p>
    <form method = "GET" action = "/new">
        <button type = "submit">Add New Article</button>
    </form>
</body>
</html>